.idea/
.sass-cache/
config.rb
node_modules/
bower_components/


web/fonts/
web/scss/

web/js/vendor/
web/js/tests/
web/survey/back/
libs/PHPExcel
libs/PasswordLib

logs/
docs/
backup/
db/


## special mac
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
