<div ng-controller="DepsRegionEvolutionCtrl">
    <div class="row">
        <div class="col col1"></div>
        <div class="col col4 loader-parent">
            <h3 class="page-header">Régions et départements d'habitation - évolution {{fullYear}}</h3>
            <span class="loader" ng-hide="isloaded">loading...</span>
        </div>
        <div class="col col1"></div>
    </div>

    <section>
        <div class="row">
            <div class="col col1"></div>
            <div class="col col4">
                <h5 class="page-header">Comparaison des régions</h5>
            </div>
            <div class="col col1"></div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="col col6">
                <canvas linechart options="chartCompareOptions" data="chartCompare" height="475" width="950"></canvas>
            </div>
        </div>

    </section>

    <section>
        <div class="row">
            <div class="col col6">
                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                        <th ng-repeat="m in monthes">{{m}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="background-color: {{colors[0]}}; color: #fff;">Région Centre</td>
                        <td ng-repeat="m in monthes">{{datas.compare.percentParMoisEtZone.centre[$index]}}%</td>
                    </tr>
                    <tr>
                        <td style="background-color:  {{colors[1]}}; color: #fff;">
                            Région parisienne
                        </td>
                        <td ng-repeat="m in monthes">{{datas.compare.percentParMoisEtZone.paris[$index]}}%</td>
                    </tr>
                    <tr>
                        <td style="background-color:  {{colors[2]}}; color: #fff;">
                            Départements limitrophes
                        </td>
                        <td ng-repeat="m in monthes">{{datas.compare.percentParMoisEtZone.limit[$index]}}%</td>
                    </tr>
                    <tr>
                        <td style="background-color:  {{colors[3]}}; color: #fff;">
                            Autres
                        </td>
                        <td ng-repeat="m in monthes">{{datas.compare.percentParMoisEtZone.autres[$index]}}%</td>
                    </tr>

                    <tr>
                        <td>Total</td>
                        <td ng-repeat="m in monthes">{{datas.compare.totalParMois[$index]}}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="col col1"></div>
            <div class="col col4">
                <h4 class="page-header">Les régions détaillées</h4>
            </div>
            <div class="col col1"></div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="col col1"></div>
            <div class="col col4">
                <h5 class="page-header">La région Centre</h5>
            </div>
            <div class="col col1"></div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="col col6">
                <canvas barchart options="chartOptions" data="chartCentre" height="475" width="950"></canvas>
            </div>
        </div>

    </section>

    <section>
        <div class="row">
            <div class="col col6">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Région Centre {{fullYear}}</th>
                        <th ng-repeat="m in monthes">{{m}}</th>
                    </tr>
                    </thead>
                    <tbody>

                        <tr ng-repeat="d in datas.centre.depts">
                            <td style="background-color: {{colors[$index]}}; color: #fff;">{{d.num}} - {{d.name}}</td>
                            <td ng-repeat="i in monthes">{{d.percentParMois[$index]}}%</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td ng-repeat="i in monthes">{{datas.centre.totalEffectifParMois[$index]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="col col1"></div>
            <div class="col col4">
                <h5 class="page-header">La région parisienne</h5>
            </div>
            <div class="col col1"></div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="col col6">
                <canvas barchart options="chartOptions" data="chartParis" height="475" width="950"></canvas>
            </div>
        </div>

    </section>

    <section>
        <div class="row">
            <div class="col col6">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Région parisienne {{fullYear}}</th>
                        <th ng-repeat="m in monthes">{{m}}</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="d in datas.paris.depts">
                        <td style="background-color: {{colors[$index]}}; color: #fff;">{{d.num}} - {{d.name}}</td>
                        <td ng-repeat="i in monthes">{{d.percentParMois[$index]}}%</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td ng-repeat="i in monthes">{{datas.paris.totalEffectifParMois[$index]}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="col col1"></div>
            <div class="col col4">
                <h5 class="page-header">Les départements limitrophes</h5>
            </div>
            <div class="col col1"></div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="col col6">
                <canvas barchart options="chartOptions" data="chartLimit" height="475" width="950"></canvas>
            </div>
        </div>

    </section>

    <section>
        <div class="row">
            <div class="col col6">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Départements limitrophes {{fullYear}}</th>
                        <th ng-repeat="m in monthes">{{m}}</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="d in datas.limit.depts">
                        <td style="background-color: {{colors[$index]}}; color: #fff;">{{d.num}} - {{d.name}}</td>
                        <td ng-repeat="i in monthes">{{d.percentParMois[$index]}}%</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td ng-repeat="i in monthes">{{datas.limit.totalEffectifParMois[$index]}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="col col6">
                <h5 class="page-header">Les autres départements</h5>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <div class="col col6">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Départements limitrophes {{fullYear}}</th>
                        <th ng-repeat="m in monthes">{{m}}</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="d in datas.autres.depts">
                        <td>{{d.num}} - {{d.name}}</td>
                        <td ng-repeat="i in monthes">{{d.percentParMois[$index]}}%</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td ng-repeat="i in monthes">{{datas.autres.totalEffectifParMois[$index]}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

</div>
