<div ng-controller="LastMonthCtrl">
    <div class="row">
        <div class="col col1"></div>
        <div class="col col4 loader-parent">
            <h3 class="page-header">Les Statistiques pour le mois de {{lastMonth}} {{lastMonthYear}}</h3>
            <span class="loader" ng-hide="isloaded">loading...</span>
        </div>
        <div class="col col1"></div>
    </div>

    <div class="row">
        <div class="col col1"></div>
        <div class="col col4">
            <p class="messanger-simple text-center"><span ng-bind-html="trustHtmlMessage(infos)"></span></p>
        </div>
        <div class="col col1"></div>
    </div>
</div>
